body {
    background-color: #212121;
    margin: 0;
    padding: 50px;
}

#gameScreen {
    background-color: green;
    border: 2px solid black;
    box-shadow: 5px 5px 10px black;
}

#score {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    color: lightgreen;
}

.container {
    display: flex;
    justify-content: center;
}